.linkList {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
.linkList:enabled {
    text-decoration: none;
}
.linkList:hover {
    cursor: pointer;
    text-decoration: none;
    color: red;
}
.linkList:active {
    text-decoration: none;
}
.linkList:visited {
    text-decoration: none;
}